@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

.header_bacj {
    background: #c8b7d7
    // background: linear-gradient(90deg, rgba(145,111,174,0.21612394957983194) 0%, rgba(189,171,210,0.2777485994397759) 100%);
}

.visually-hidden {
  display: none;
}

.MuiDialogContent-root {
  padding: 0 !important;
}

.page-item {
  @apply w-6 text-center;
}

.MuiDialog-root {
  z-index: 99 !important;
}

.content_buttons .active {
  @apply text-black bg-main rounded-full;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.img-thumbnail {
  height: 100px;
  width: 100%;
  object-fit: contain;
}

.content_img {
  img {
    display: block;
    width: 120px;
    margin: 0 auto;
  }
}

.btn-openImage {
  display: block;
  height: 100px;
  width: 100%;
  svg {
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

// #icon-cerrar{
//     display: block !important;
//     overflow: hidden !important;
//     height: 48px !important;
// }

.d-none {
  @apply hidden;
}

.jodit-status-bar__item {
  display: none;
}

.jodit-toolbar__box {
  background: #1e1f25 !important;
}

.jodit-toolbar-button__trigger {
  svg {
    fill: white;
  }
}

.jodit-toolbar-button {
  button {
    color: white !important;
    fill: aliceblue;
    span {
      svg {
        fill: white;
      }
    }
  }
}
.jodit-status-bar {
  background: #1e1f25 !important;
  display: none !important;
}
.jodit-ui-group_size_middle {
  // display: none !important;
}
.jodit-workplace {
  background: #1e1f25 !important;
}
.lactme {
  width: 50px !important;
}

.dot-spinner2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --uib-size: 6rem;
  --uib-speed: 0.9s;
  --uib-color: #916fae;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}
.dot-spinner {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  --uib-size: 6rem;
  --uib-speed: 0.9s;
  --uib-color: #916fae;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.centrarclase_do_spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px #916fae;
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row !important;

  img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    object-fit: cover;
  }
}

.cambiar_color {
  .MuiPaginationItem-page {
    background: #906b9f !important;
    color: white !important;
  }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -4px;
}

// .swiper_admin_pacientes{
//   overflow: initial !important;
// }

.asdasddad {
  object-fit: contain !important;
}

.swiper-wrapper {
  // padding-bottom: 25px;
  // margin: 0 60px;
}

.swiper-button-prev {
  left: -1rem !important;
  color: #41326d;
}

.swiper-button-next {
  right: -1rem !important;
  color: #41326d;
}

@media (max-width: 576px) {
  .swiper-grid-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row !important;
    padding-bottom: 10px;
    img {
      width: 100%;
      height: 100px;
      margin: 0 auto;
      padding: 10px;
      object-fit: cover;
    }
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -6px;
  }
}

.swal2-modal {
  border: 2px solid #916fae !important;
  background-color: #eaeaea !important;
  & .swal2-html-container {
    font-size: 12px;
    width: 80%;
    margin: auto;
    font-weight: bold;
    color: #916fae;
  }
}

.on_active {
  appearance: none;
  border-radius: 50%;
  border: 2px solid #906b9f;
  display: flex;
  align-items: center;
}

.on_active:checked {
  background-color: #906b9f;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.content_cuadrados {
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid #906b9f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_cuadrados input {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
}
.content_cuadrados span {
  color: black;
}

.content_cuadrados input:checked {
  background-color: #906b9f;
}

.content_cuadrados input:checked ~ span {
  background: transparent;
  z-index: 1;
  display: block;
  color: white;
}
